.switch {
  cursor: auto;
  // .switch__inner
  &__inner {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  // .switch__item
  &__item {
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 16px;
    margin-right: 8px;
    border-radius: 10px;
    background-color: $grey-color;
    transition: all 0.2s ease 0s;
    &::before {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      width: 14px;
      height: 14px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 2px 1px rgba(0, 0, 0, 0.06);
      transition: all 0.2s ease 0s;
    }
    &.active {
      background-color: $orange-color;
      &::before {
        left: 9px;
      }
    }
  }
}
