.header {
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(37, 73, 137, 0.04);
  position: sticky;
  top: 0;
  z-index: 100;
  // .header__container
  &__container {
    min-height: 67px;
    @include screen-md {
      padding: 0px 12px;
      min-height: 58px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 24px;
    }
    @include screen-esm {
      flex-direction: row;
      justify-content: flex-start;
      min-height: 48px;
    }
  }

  // .header__logo
  &__logo {
    display: flex;
    margin-top: 12px;
    position: relative;
    width: 157px;
    height: auto;
    @include screen-md {
      width: 127px;
    }

    @include screen-esm {
      display: none;
    }
  }

  // .header__nav
  &__nav {
    display: flex;
    align-items: center;
  }

  // .header__brgr
  &__brgr {
    display: none;
    @include screen-md {
      display: block;
      position: relative;
      width: 18px;
      height: 18px;
      margin-right: 24px;
      cursor: pointer;
      z-index: 55;
      span {
        pointer-events: none;
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 1px;
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: $grey-color;

        &:first-child {
          top: 3px;
        }

        &:last-child {
          top: auto;
          bottom: 3px;
        }
      }
    }
  }

  // .header__list
  &__list {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 100%;
  }

  // .header__item
  &__item {
    height: 100%;
    position: relative;

    &.active {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 100px;
        background-color: $orange-color;
      }
    }
  }

  // .header__link
  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    color: #07193d;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $orange-color;
      }
    }

    &:active {
      color: $orange-color;
    }
  }
}
