@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    /*$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);*/
    $src: append($src, url(quote($path)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@include font-face(ProximaNova-Light, "~@/public/fonts/ProximaNova-Light.woff2");
@include font-face(ProximaNova-Regular, "~@/public/fonts/ProximaNova-Regular.woff2");
@include font-face(ProximaNova-Semibold, "~@/public/fonts/ProximaNova-Semibold.woff2");
@include font-face(ProximaNova-Bold, "~@/public/fonts/ProximaNova-Bold.woff2");
@include font-face(OpenSans-Regular, "~@/public/fonts/OpenSans-Regular.woff2");
@include font-face(icons, "~@/public/fonts/icons.woff2");

// fonts
$font-light: "ProximaNova-Light", san-serif;
$font-regular: "ProximaNova-Regular", san-serif;
$font-semiBold: "ProximaNova-Semibold", san-serif;
$font-bold: "ProximaNova-Bold", san-serif;
$font-OpenSans: "OpenSans-Regular", san-serif;
