%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-attention:before {
  content: "\e900";
}
._icon-badminton:before {
  content: "\e901";
}
._icon-badminton-v2:before {
  content: "\e902";
}
._icon-basketball:before {
  content: "\e903";
}
._icon-basketball-v2:before {
  content: "\e904";
}
._icon-chevron-down:before {
  content: "\e905";
}
._icon-error:before {
  content: "\e906";
}
._icon-fb:before {
  content: "\e907";
}
._icon-full-screen:before {
  content: "\e908";
}
._icon-games:before {
  content: "\e909";
}
._icon-games-v2:before {
  content: "\e90a";
}
._icon-hand-ball-v2:before {
  content: "\e90b";
}
._icon-help-circle:before {
  content: "\e90c";
}
._icon-mark:before {
  content: "\e90d";
}
._icon-ok:before {
  content: "\e90e";
}
._icon-option-1:before {
  content: "\e90f";
}
._icon-option-v2:before {
  content: "\e910";
}
._icon-pause:before {
  content: "\e911";
}
._icon-ping-pong:before {
  content: "\e912";
}
._icon-play:before {
  content: "\e913";
}
._icon-plus:before {
  content: "\e914";
}
._icon-puck:before {
  content: "\e915";
}
._icon-puck-v2:before {
  content: "\e916";
}
._icon-refresh-cw:before {
  content: "\e917";
}
._icon-rugby-ball:before {
  content: "\e918";
}
._icon-rugby-ball-1:before {
  content: "\e919";
}
._icon-rugby-ball-1-v2:before {
  content: "\e91a";
}
._icon-rugby-ball-v2:before {
  content: "\e91b";
}
._icon-shuttlecock-v2:before {
  content: "\e91c";
}
._icon-soccer:before {
  content: "\e91d";
}
._icon-soccer-ball:before {
  content: "\e91e";
}
._icon-soccer-v2:before {
  content: "\e91f";
}
._icon-star-off:before {
  content: "\e920";
}
._icon-star-on:before {
  content: "\e921";
}
._icon-success:before {
  content: "\e922";
}
._icon-tennis-ball:before {
  content: "\e923";
}
._icon-tennis-ball-v2:before {
  content: "\e924";
}
._icon-tl:before {
  content: "\e925";
}
._icon-tw:before {
  content: "\e926";
}
._icon-vk:before {
  content: "\e927";
}
._icon-volleyball:before {
  content: "\e928";
}
._icon-volleyball-v2:before {
  content: "\e929";
}
._icon-close:before {
  content: "\e92a";
}
._icon-link:before {
  content: "\e92b";
}
._icon-some:before {
  content: "\e92c";
}
._icon-online:before {
  content: "\e92d";
}