$screen-xs: 480.98px;
@mixin screen-xs {
  @media only screen and (max-width: $screen-xs) {
    @content;
  }
}
@mixin screen-mxs {
  @media only screen and (min-width: $screen-xs) {
    @content;
  }
}

$screen-esm: 550.98px;
@mixin screen-esm {
  @media only screen and (max-width: $screen-esm) {
    @content;
  }
}
@mixin screen-mesm {
  @media only screen and (min-width: $screen-esm) {
    @content;
  }
}

$screen-sm: 767.98px;
@mixin screen-sm {
  @media only screen and (max-width: $screen-sm) {
    @content;
  }
}
@mixin screen-msm {
  @media only screen and (min-width: $screen-sm) {
    @content;
  }
}

$screen-md: 991.98px;
@mixin screen-md {
  @media only screen and (max-width: $screen-md) {
    @content;
  }
}
@mixin screen-mmd {
  @media only screen and (min-width: $screen-md) {
    @content;
  }
}

$screen-lg: 1271.98px;
@mixin screen-lg {
  @media only screen and (max-width: $screen-lg) {
    @content;
  }
}
@mixin screen-mlg {
  @media only screen and (min-width: $screen-lg) {
    @content;
  }
}