$aside-width: 300px;
$border-radius: 12px;

//-------Color--------
$orange-color: #F26925;
$bg-color: #F6F7F9;
$bgDark-color: #EAEAEA;
$lightGrey-color: #D0D6DE;
$grey-color: #A3B0C1;
$blue-color: #254989;
$darkblue-color: #07193D;
$black-color: #232323;
$yelloy-color: #F4DF4D;

//----------БУКМЕКЕРЫ--------------
.onex-bet {
  background: #103852;
}
.sport-bet {
  background: #1E2637;
}
.one-win {
  background: #2D9AF0;
}
.marathon-bet {
  background: #CA2029;
}
.pari-match {
  background: #000000;
}
.fav-bet {
  background: #FF0068;
}
.starz {
  background: #D71015;
}
.onex-bid {
  background: #123851;
}
.zenit {
  background: #021E3C;
}
.leon {
  background: #D71015;
}
.mel-bet {
  background: #FFBC00;
}