.copy {
  // .copy__block
  &__block {
    background-color: #fff;
    border-radius: $border-radius;
    padding: 16px;
    & > * {
      &:not(:last-child) {
        margin-bottom: 16px;
        @include screen-esm {
          margin-bottom: 12px;
        }
      }
    }
    @include screen-esm {
      padding: 12px;
    }
    a {
      color: $blue-color;
      transition: color 0.2s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $orange-color;
        }
      }
      &:active {
        color: $orange-color;
      }
    }
    ul {
      padding-left: 16px;
      @include screen-esm {
        padding-left: 8px;
      }
      > li {
        position: relative;
        padding-left: 12px;
        &:not(:last-child) {
          margin-bottom: 8px;
          @include screen-esm {
            margin-bottom: 4px;
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 7.5px;
          left: 0;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: $grey-color;
          @include screen-esm {
            top: 6.5px;
          }
        }
      }
    }
    ol {
      counter-reset: section;
      & > * {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
      > li {
        display: flex;
        &::before {
          content: counter(section) ".";
          counter-increment: section;
          margin-right: 8px;
          color: $grey-color;
        }
      }
      > ul {
        padding-left: 24px;
        @include screen-esm {
          padding-left: 20px;
        }
      }
    }
  }
  // .copy__title
  &__title {
    &:not(:last-child) {
      padding-bottom: 16px;
      border-bottom: 1px solid $lightGrey-color;
      @include screen-esm {
        padding-bottom: 12px;
      }
    }
  }
  // .copy__body
  &__body {
    &:not(:last-child) {
      padding-bottom: 16px;
      border-bottom: 1px solid $lightGrey-color;
      @include screen-esm {
        padding-bottom: 12px;
      }
    }
    & > * {
      &:not(:last-child) {
        margin-bottom: 16px;
        @include screen-esm {
          margin-bottom: 12px;
        }
      }
    }
  }
  // .copy__note
  &__note {
    background-color: $bg-color;
    border-radius: $border-radius;
    padding: 12px 16px;
    @include screen-esm {
      padding: 8px 12px;
    }
    & > * {
      &:not(:last-child) {
        margin-bottom: 16px;
        @include screen-esm {
          margin-bottom: 12px;
        }
      }
    }
  }
  // .copy__email
  &__email {
  }
}
