.footer {
  background: #858993;
  box-shadow: 0px 4px 12px rgba(37, 73, 137, 0.04);
  // .footer__container
  &__container {
    padding: 24px 0px;
    color: $lightGrey-color;
    grid-template-areas: "a t m";
    @include screen-lg {
      grid-template-areas: "m t" "a t";
    }
    @include screen-md {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "t t" "m a";
      gap: 16px;
    }
    @include screen-esm {
      grid-template-columns: 1fr;
      grid-template-areas: "t" "m" "a";
    }
  }
  // .footer__about
  &__about {
    width: 240px;
    grid-area: a;
    padding-left: 12px;
    @include screen-md {
      @include screen-mesm {
        padding-right: 12px;
        padding-left: 0;
        justify-self: end;
      }
    }
  }
  // .footer__translation
  &__translation {
    grid-area: t;
    @include screen-lg {
      padding-right: 12px;
    }
    @include screen-md {
      padding-left: 12px;
    }
    .footer__list {
      @include screen-lg {
        flex: 1 1 auto;
      }
    }
  }
  // .footer__more
  &__more {
    grid-area: m;
    @include screen-mlg {
      padding-right: 12px;
    }
    @include screen-lg {
      padding-left: 12px;
    }
    .footer__list {
      grid-template-columns: repeat(2, auto);
      @include screen-sm {
        column-gap: 28px;
      }
    }
  }
  // .footer__logo
  &__logo {
    display: block;
    img {
      width: 155px;
      height: auto;
    }
  }
  // .footer__text
  &__text {
  }
  // .footer__title
  &__title {
    margin-bottom: 12px;
  }
  // .footer__body
  &__body {
    display: flex;
  }
  // .footer__list
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 8px;
    column-gap: 48px;
    border-top: 1px solid rgba(163, 176, 193, 0.5);
    padding-top: 12px;
    @include screen-lg {
      column-gap: 34px;
    }
    @include screen-sm {
      column-gap: 24px;
      grid-template-columns: repeat(3, 1fr);
    }
    @include screen-esm {
      padding-top: 8px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .footer__item
  &__item {
    position: relative;
    padding-left: 12px;
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 4px;
      height: 4px;
      background-color: $lightGrey-color;
      border-radius: 50%;
    }
  }
  // .footer__link
  &__link {
    color: #fff;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $lightGrey-color;
      }
    }
    &:active {
      color: $lightGrey-color;
    }
  }
}
