.btn{
  padding: 12px 24px;
  border-radius: $border-radius;
  color: $blue-color;
  background-color: #fff;
  transition: all 0.2s ease 0s;
  @media (any-hover: hover) {
    &:hover{
      background-color: $bg-color;
    }
  }
  &:active {
    background-color: $bgDark-color;
  }
  &--sm{
    font-size: 12px;
  }
  &_orange{
    color: #fff;
    background-color: $orange-color;
    @media (any-hover: hover) {
      &:hover{
        background-color: #FF7D39;
      }
    }
    &:active {
      background-color: #DE5511;
    }
  }
  &:disabled{
    cursor: no-drop;
    opacity: 0.5;
    &:hover,
    &:active {
      background-color: #fff;
      &.btn_orange{
        background-color: $orange-color;
      }
    }
  }
}