.bk {
  // .bk__block
  &__block {
    background-color: #fff;
    border-radius: $border-radius;
    padding: 12px 16px;
    overflow: hidden;
    @include screen-xs {
      padding: 12px 12px;
    }
    & > * {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    p:not([class]) {
      @include screen-esm {
        font-size: 14px;
      }
    }
    ul:not([class]) {
      padding-left: 16px;
      @include screen-esm {
        font-size: 14px;
      }
      & > * {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
      li:not([class]) {
        position: relative;
        padding-left: 12px;
        &::before {
          content: "";
          position: absolute;
          top: 7.5px;
          left: 0;
          width: 4px;
          height: 4px;
          background-color: $grey-color;
          border-radius: 50%;
        }
      }
    }
  }
  // .bk__title
  &__title {
  }
  // .bk__select
  &__select {
  }
  // .bk__head
  &__head {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: -12px -16px 0px;
    padding: 15px 16px;
    @include screen-esm {
      padding: 7px 12px;
      margin: -12px -12px 0px;
    }
  }
  // .bk__image
  &__image {
    display: block;
    padding: 0px 17px;
    @include screen-esm {
      padding: 0px 4px;
    }
    img {
      width: 120px;
      height: auto;
      transition: filter 0.2s ease 0s;
      @include screen-esm {
        width: 80px;
      }
      @media (any-hover: hover) {
        &:hover {
          filter: brightness(0.9);
        }
      }
      &:active {
        filter: brightness(0.9);
      }
    }
  }
  // .bk__info
  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    background-color: #fff;
    padding: 12px;
    border-radius: $border-radius;
    &::before {
      content: "✨";
      display: inline-block;
      @include screen-esm {
        display: none;
      }
    }
  }
  // .bk__refresh
  &__refresh {
    cursor: pointer;
    margin-left: auto;
    color: $grey-color;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $orange-color;
      }
    }
    &:active {
      color: $orange-color;
    }
  }
  // ---------------------------------.bk__margin---------------------------
  &__margin {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    @include screen-sm {
      gap: 12px;
    }
  }
  // .bk__card
  &__card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $lightGrey-color;
    border-radius: $border-radius;
    padding: 11px 15px;
    @include screen-esm {
      padding: 7px 11px;
    }
  }
  // .bk__card-title
  &__card-title {
    display: flex;
    align-items: center;
    gap: 6px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &::before {
      color: $lightGrey-color;
    }
    span {
      @include screen-esm {
        display: none;
      }
    }
  }
  // .bk__card-score
  &__card-score {
    font-family: $font-light;
    font-size: 40px;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
    @include screen-esm {
      font-family: $font-regular;
      font-size: 22px;
    }
  }
  // .bk__card-ratio
  &__card-ratio {
    display: flex;
    align-items: center;
    @include screen-esm {
      font-size: 12px;
    }
    &::before {
      position: relative;
      top: -1px;
      content: "\e92c";
      @extend %ic;
      display: block;
      font-size: 8px;
      margin-right: 4px;
      @include screen-esm {
        font-size: 6px;
        margin-right: 2px;
      }
    }
  }
  // .bk__card-info
  &__card-info {
    position: absolute;
    bottom: 11px;
    right: 11px;
    color: $grey-color;
    cursor: pointer;
    transition: color 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $orange-color;
      }
    }
    &:active {
      color: $orange-color;
    }
    &.active{
      color: $orange-color;
    }
    @include screen-esm {
      display: none;
    }
  }
  // -------------------------.bk__translation-----------------------
  &__translation {
    border: 1px solid $lightGrey-color;
    border-radius: $border-radius;
    padding: 0px 16px;
  }
  &__header,
  &__item:not(.switch) {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      content: "\e905";
      @extend %ic;
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      font-size: 12px;
      transform: translate(0px, -50%);
      color: $grey-color;
      transition: all 0.2s ease 0s;
    }
    &.active {
      &::before {
        transform: translate(0px, -50%) rotate(180deg);
      }
    }
  }
  // .bk__header
  &__header {
    justify-content: space-between;
    padding: 12px 24px 12px 0px;
    & > * {
      pointer-events: none;
    }
  }
  // .bk__title-tn
  &__title-tn {
  }
  // .bk__score
  &__score {
    color: $grey-color;
    span {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
  // .bk__list
  &__list {
    display: none;
    overflow: hidden;
  }
  // .bk__item
  &__item {
    border-top: 1px solid $lightGrey-color;
    padding: 10px 0px;
    &:not(.switch) > * {
      pointer-events: none;
    }
    &.switch {
      padding: 8px 0px;
    }
    &.active {
      & + .bk__sub-list {
        margin-bottom: 8px;
      }
    }
  }
  // .bk__kind
  &__kind {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  // .bk__amount
  &__amount {
    color: $grey-color;
    font-size: 14px;
    @include screen-esm {
      font-size: 12px;
    }
  }
  // .bk__sub-list
  &__sub-list {
    padding-left: 12px;
    display: none;
    overflow-y: overlay;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      background: $bg-color;
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: $lightGrey-color;
      border-radius: 300px;
    }
  }
  // .bk__sub-item
  &__sub-item {
    position: relative;
    padding-left: 12px;
    &:not(:last-child) {
      padding-bottom: 8px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 6.5px;
      left: 0;
      width: 4px;
      height: 4px;
      background-color: $grey-color;
      border-radius: 50%;
    }
  }
  // .bk__sub-link
  &__sub-link {
    font-size: 14px;
    color: $blue-color;
    transition: color 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $orange-color;
      }
    }
    &:active {
      color: $orange-color;
    }
    &.active {
      &::after {
        content: "\e92d";
        @extend %ic;
        display: inline-block;
        font-size: 12px;
        color: $grey-color;
        margin-left: 8px;
      }
    }
  }
  // .bk__text
  &__text {
    border-top: 1px solid $lightGrey-color;
    position: relative;
    padding: 12px 0px;
    color: $grey-color;
    font-size: 14px;
  }
  // .bk__advantage
  &__advantage {
    border: 1px solid $lightGrey-color;
    border-radius: $border-radius;
    padding: 12px 16px;
    @include screen-esm {
      padding: 8px 12px;
    }
  }
}
