@import "main/vars.scss";
@import "main/fonts.scss";
@import "skeleton-loader";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
a {
  outline: none;
  text-decoration: none;
}
button {
  cursor: pointer;
  background: transparent;
  outline: none;
}
input,
button,
textarea {
  font-family: $font-regular;
  font-size: inherit;
}
li {
  list-style-type: none;
}
b{
  font-family: $font-bold;
}

@import "main/icons.scss";
@import "main/media.scss";
@import "main/mixins.scss";
@import "main/blocks.scss";

body {
  font-family: $font-regular;
  font-size: 16px;
  line-height: 1.2;
  color: $black-color;
  min-width: 360px;
  position: relative;
  background-color: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    background: transparent;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: $lightGrey-color;
    border-radius: 300px;
  }
  &.aside-open {
    overflow: hidden;
    .header__brgr {
      span {
        transform: scale(0);
        left: -3px;
        width: 132%;
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
    .page__aside {
      left: 0;
    }
  }
  &.modal-open {
    overflow: hidden;
  }
  @include screen-mlg {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
#__next{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

//====================================================
[class*="__container"] {
  width: 100%;
  margin: 0 auto;
  max-width: 1272px;
  @include screen-mmd {
    display: grid;
    grid-template-columns: $aside-width 1fr;
    gap: 16px;
  }
  @include screen-mlg {
    grid-template-columns: $aside-width 1fr $aside-width;
  }
}

.title-b {
  font-size: 26px;
  @include screen-esm {
    font-size: 22px;
  }
}
.title {
  font-size: 20px;
  @include screen-esm {
    font-size: 18px;
  }
}
.title-sm {
  font-size: 18px;
  @include screen-esm {
    font-size: 16px;
  }
}
.text {
  font-size: 16px;
  @include screen-esm {
    font-size: 14px;
  }
}
.text-sm {
  font-size: 14px;
  @include screen-esm {
    font-size: 12px;
  }
}
.orange {
  color: $orange-color;
}
.grey {
  color: $grey-color;
}

.esm-hide{
  @include screen-esm {
    display: none;
  }
}