$box-shadow: 0px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
$size: clamp(18px, 100%, 18px);

.translation__block .sb {
  margin-bottom: 1rem;
}

.shimmer {
  display: inline-block;
  height: $size;
  width: fit-content;
  position: relative;
  overflow: hidden;
  background-color: #e1e2e3;
  cursor: progress;
  color: transparent !important;
  border-radius: 5px;
  box-shadow: $box-shadow;

  &__box {
    box-shadow: $box-shadow;
    cursor: progress;
  }

  &__aside {
    &-item {
      width: 100%;
      height: $size;
    }

    &-icon {
      width: $size;
      height: $size;
    }
  }

  img {
    opacity: 0 !important;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, transparent, #fff, transparent);
    animation: shimmer-animation 1.3s infinite;
    content: '';
  }

  &.translation__scores {
    height: unset !important;

    .grey {
      color: transparent;
    }
  }

  @keyframes shimmer-animation {
    100% {
      transform: translateX(100%);
    }
  }
}