.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  transition: opacity 200ms ease 0s;

  &_open {
    opacity: 1;
    display: block;
  }
  // .popup__bg
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.9);
    z-index: 5;
  }
  // .popup__wrapper
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px 0;
    overflow-y: scroll;
    z-index: 5;
    &::-webkit-scrollbar {
      background: transparent;
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: $lightGrey-color;
      border-radius: 300px;
    }
  }
  // .popup__content
  &__content {
    margin: auto;
    position: relative;
    padding: 16px;
    max-width: 360px;
    width: 100%;
    background-color: #fff;
    border-radius: $border-radius;
    z-index: 10;
  }
  // .popup__close
  &__close {
    position: absolute;
    top: 16px;
    right: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: $grey-color;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $black-color;
      }
    }
    &:active {
      color: $black-color;
    }
  }
  // .popup__title
  &__title {
    margin-bottom: 12px;
  }
  // .popup__time
  &__time {
    color: $grey-color;
    margin-bottom: 8px;
    text-align: right;
  }
  // .popup__block
  &__block {
    max-height: 251px;
    overflow-x: hidden;
    overflow-y: overlay;
    border-radius: $border-radius;
    background-color: $bg-color;
    margin-bottom: 12px;
    transition: all 0.2s ease 0s;
    &::-webkit-scrollbar {
      background: transparent;
      width: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background: $lightGrey-color;
      background-clip: content-box;
      border: 4px solid transparent;
      border-radius: 300px;
    }
    &::-webkit-scrollbar-button {
      display: block;
      background: transparent;
      height: 2px;
    }
  }
  // .popup__list
  &__list {
    border-radius: $border-radius;
    background-color: $bg-color;
  }
  // .popup__item
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 12px;
    transition: all 0.2s ease 0s;
    &::before {
      content: "\e90d";
      @extend %ic;
      visibility: hidden;
      opacity: 0;
      display: block;
      font-size: 12px;
      color: $orange-color;
      margin-right: 8px;
    }
    span {
      pointer-events: none;
      padding: 8px 0px;
      display: block;
      width: 100%;
    }
    &:not(:last-child) {
      span {
        border-bottom: 1px solid rgba(208, 214, 222, 0.5);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: #efefef;
      }
    }
    &:active {
      background-color: #efefef;
    }
    &.active {
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  // .popup__btn
  &__btn {
  }
}
