.popover {
  position: absolute;
  display: none;
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: 0px 2px 30px rgba(163, 176, 193, 0.3);
  max-width: 452px;
  font-size: 14px;
  z-index: 10;
  @include screen-esm {
    max-width: 336px;
    font-size: 12px;
  }
  // .popover__inner
  &__inner {
    padding: 8px 12px;
    & > * {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  // .popover__margin
  &__margin {
    b {
      &:last-child {
        &::before {
          content: "\e92c";
          @extend %ic;
          display: inline-block;
          color: $grey-color;
          font-size: 8px;
          margin: 0px 4px;
        }
      }
    }
  }
  // .popover__text
  &__text {
  }
}
