.page {
  flex: 1 1 auto;
  padding: 16px 0px;
  // .page__container
  &__container {
  }
  // .page__aside
  &__aside {
    @include screen-mmd {
      display: flex;
      align-items: flex-end;
    }
    @include screen-md {
      position: fixed;
      top: 0px;
      left: -100%;
      width: 100vw;
      padding-top: 58px;
      height: 100vh;
      z-index: 50;
      background-color: #fff;
      transition: all 0.2s ease 0s;
      border-top: 1px solid rgba(225, 231, 239, 0.35);
    }
    @include screen-esm {
      height: calc(100vh - 48px);
    }
  }
  // .page__aside-banner
  &__aside-banner {
    @include screen-lg {
      display: none;
    }
  }
  // .page__main
  &__main {
    & > * {
      &:not(:last-child) {
        margin-bottom: 16px;
        @include screen-esm {
          margin-bottom: 12px;
        }
      }
    }
  }
  // .page__text
  &__text {
    text-align: center;
    padding: 8px 16px;
  }
}
